<div class="contact-success">
    <h4><?php echo __('Thanks for contacting us with your comments and questions. We\'ll respond to you very soon.') ?></h4>
    <a class="button action primary" href="<?php echo $block->getBaseUrl() ?>" class="button"><span><?php echo __('Seguir comprando') ?></span></a>
</div>
